body{
    background: linear-gradient(white, pink);
    font-size: 20px;
}
.smth{
    text-decoration: underline;
    font-size: 40px;
    color: darkred;
    text-align: center;
}
.important{
    color: red;
    font-size: 30px;
}
.pretty{
    margin-right: 80px;
}